Source: lzop
Section: utils
Priority: optional
Maintainer: Peter Eisentraut <petere@debian.org>
Standards-Version: 3.6.2
Build-Depends: cdbs, debhelper (>= 5), liblzo-dev (>= 1.08), liblzo-dev (<< 1.09)

Package: lzop
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, liblzo1 (>= 1.08), liblzo1 (<< 1.09)
Description: fast compression program
 lzop is a compressor similar to gzip.  Its main advantages over gzip are
 much higher compression and decompression speed.  lzop was designed with
 the following goals in mind:
  1) reliability
  2) speed (both compression and decompression)
  3) reasonable drop-in compatibility with gzip
  4) portability
 .
 Web site: http://www.lzop.org/
XC-Package-Type: udeb
